{% extends "base_with_navbar.html" %}
{% block header %}
    {% block title %}List{% endblock %}
    {% block styles %}
        <link rel="stylesheet" type ="text/css" href="/css/list.css">
        <link rel="stylesheet" type ="text/css" href="/css/navbar.css">
        <link rel="stylesheet" type ="text/css" href="/css/input_style.css">
    {% endblock %}
{% endblock %}
{% block signout %}
    <a href="/accounts/signout/">Signout</a>
{% endblock %}
{% block content %}
    <div class="content container-list">
        {% include "restaurant_list/list_upload.html" %}
        <div class="module restaurant_list" data-module="restaurant_list">
            {% include "restaurant_list/list.html" %}
        </div>
        {% if can_edit_rows %}
            {% include "restaurant_list/add_restaurant.html" %}
            {% include "restaurant_list/add_edit_modal.html" %}
        {% endif %}
    </div>
{% endblock %}
{% block javascript_includes %}
    <script src="/js/lib/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/js/lib/jquery.cookie.js"></script>
    <script src="/js/lib/tokenizer.js"></script>
    <script src="/js/modules/list_upload.js"></script>
    <script src="/js/modules/list.js"></script>
    <script src="/js/modules/restaurant_search.js"></script>
    <script src="/js/modules/add_restaurant.js"></script>
    <script src="/js/modules/edit_restaurant.js"></script>
    <script src="/js/services/ajax.js"></script>
    <script src="/js/services/form_validator.js"></script>
{% endblock %}
