{% extends "base.html" %}
{% block content %}
	{% include "restaurant_list/list_upload.html" %}
	{% include "restaurant_list/list.html" %}
    {% if can_edit_rows %}
        {% include "restaurant_list/add_restaurant.html" %}
    {% endif %}
{% endblock %}
{% block javascript_includes %}
    <script src="/js/lib/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/js/modules/list_upload.js"></script>
    <script src="/js/modules/list.js"></script>
    <script src="/js/modules/restaurant_search.js"></script>
    <script src="/js/services/ajax.js"></script>
{% endblock %}
