<div class="module" data-module="list_uploader">
	<form action="/upload/" method="POST" class="uploader_form form-horizontal">
		{% csrf_token %}
		<div class="control-group">
            <span class="btn btn-file">
                <span class="upload-text">Upload your spreadsheet!</span>
                <input type="file" name="input_spreadsheet" class="file-input spreadsheet-file-name" />
            </span>
		</div>
		<div class="upload-in-progress" style="display:none;">
			<p>Uploading...</p>
			<div class="progress progress-striped active" style="width:100%">
				<div class="bar" style="width:0%"></div>
			</div>'
		</div>
	</form>
</div>
