<div class="module" data-module="list_uploader">
	<form action="/upload/" method="POST" class="uploader_form form-horizontal">
		{% csrf_token %}
		<div class="control-group">
			<label class="control-label">Upload your restaurant list</label>
			<div class="controls">
			<input type="file" name="input_spreadsheet" class="spreadsheet-file-name" />
			</div>
		</div>
		<div class="upload-in-process" style="display:none;">
			<p>Uploading...</p>
			<div class="progress progress-striped active">
				<div class="bar" style="width:100%"></div>
			</div>'
		</div>
		<input type="submit" class="btn btn-primary" value="Upload!" />
	</form>
</div>
