<!DOCTYPE html>

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{% block title %}{% endblock %}</title>
  {% block meta %}{% endblock %}
<link rel="stylesheet" type ="text/css" href="/css/bootstrap.css">
<link rel="stylesheet" type ="text/css" href="/css/autocomplete.css">
</head>
{% block styles %}{% endblock %}
<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
    {% block body %}
      <div class="content">
        {% block content %}{% endblock %}
      </div>
	  {% block footer %}
	  	<div class="footer meta text-center">
	  		<a href="/about_us/">About us</a> &middot; 
			<a href="mailto:zakstein@gmail.com">Contact us</a> &middot;
			&copy; 2013
		</div>
	  {% endblock %}
	{% endblock %}
	<script src="/js/lib/jquery-1.9.1.min.js"></script>
	<script src="/js/lib/jquery.form.js"></script>
	<script src="/js/core/application.js"></script>
	<script src="/js/core/context.js"></script>
	<script type="text/javascript" src="/js/lib/bootstrap.js"></script>
	{% block javascript_includes %}
	{% endblock %}
	<script>
		Application.init({debug: true});
	</script>
</body>
</html>
