{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Signin" %}{% endblock %}
{% block styles %}<link rel="stylesheet" type ="text/css" href="/css/signin.css">{% endblock %}

{% block content %}
    <div class="content">
        <form class="form-signin" action="" method="post">
            {% csrf_token %}
            <fieldset>
                <h3 class="form-signin-heading text-center"><p><img src="/img/logo.png" /> {% trans "SIGN IN" %}</p></h3>
                <span class="error">{{ form.non_field_errors }}</span>
                {% for field in form %}
                    <span class = "error">{{ field.errors }}</span>
                    {% comment %} Displaying checkboxes differently {% endcomment %}
                    {% if field.name == 'remember_me' %}
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox pull-left remember-me" for="id_{{ field.name }}">{{ field }} {% trans "Remember me" %}</label>
                                <small class="forgot-password pull-right"><a href="{% url 'userena_password_reset' %}" title="{% trans 'Forgot your password?' %}">{% trans "Forgot your password?" %}</a></small>
                            </div>
                        </div>
                    {% else %}
                        <div class="control-group">
                            <div class="controls input-prepend">
                                {% if field.name == 'identification' %}
                                    <span class="add-on"><i class="icon-user"></i></span>
                                    <input class="required input-xlarge" id="id_identification" maxlength="75" name="identification" type="text" placeholder="{% trans "Email" %}" />
                                {%  else %}
                                    <span class="add-on"><i class="icon-asterisk"></i></span>
                                    <input class="required input-xlarge" id="id_password" name="password" type="password" placeholder="{% trans "Password" %}" />
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </fieldset>
            <div class="control-group">
                <div class="controls text-center">
                    <input type="submit" class="btn btn-danger btn-large" value="{% trans "Signin" %}" />
                </div>
            </div>
            {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
        </form>
    </div>
{% endblock %}
