{% extends "base_with_navbar.html" %}
{% load i18n %}
{% block header %}
        {% block title %}{% trans "Amuse Rouge" %}{% endblock %}
            {% block styles %}
                <link rel="stylesheet" type ="text/css" href="/css/home.css">
                <link rel="stylesheet" type ="text/css" href="/css/navbar.css">
            {% endblock %}
        {% endblock %}
        {% block body_id %}homepage{% endblock %}
        {% block class %}homepage-container{% endblock %}
{% block signin %}
    <li class="nav-item sign-in">
        <a class="btn btn-inverse" href="/accounts/signin/">Sign in</a>
    </li>
{% endblock %}
{% block content %}
    <div class="content">
        <div class="background-container">
            <div class="hero-container">
                <div class ="sign-up">
                    <form action='/accounts/signup/' method="post">
                        <fieldset>
                            {% csrf_token %}
                            <div class="control-group">
                                <div class="controls input-prepend">
                                    <span class="add-on"><i class="icon-user"></i></span>
                                    <input class="required input-xlarge" id="id_identification" maxlength="75" name="email" type="text" placeholder="{% trans "Email" %}" />
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls input-prepend">
                                    <span class="add-on"><i class="icon-asterisk"></i></span>
                                    <input class="required input-xlarge" id="id_password" name="password1" type="password" placeholder="{% trans "Password" %}" />
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls input-prepend">
                                    <span class="add-on"><i class="icon-asterisk"></i></span>
                                    <input class="required input-xlarge" id="id_password" name="password1" type="password" placeholder="{% trans "Confirm password" %}" />
                                </div>
                            </div>
                        </fieldset>
                        <input class="btn btn-danger btn-large text-center" type="submit" value="Signup"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
